.mnyoyo-contest-hidden {
	display: none;
}

.gfield_error {
    background-color: #832525;
    border: 1px solid #CFADB3;
    color: #FAF2F5;
}

.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_complex .ginput_right, 
.gform_wrapper .ginput_complex .ginput_full {
    display: block;
    min-height: 43px;
    overflow: hidden;
}

.gform_wrapper .top_label .gfield_label {
    clear: both;
    display: inline-block;
    font-weight: bold;
    line-height: 1.3em;
    margin: 10px 0 4px;
}

.gform_wrapper .ginput_complex label {
    display: block;
    font-size: 11px;
    letter-spacing: 0.5pt;
    margin: 3px 0;
}

.gform_wrapper ul li.gfield {
    clear: both;
}

#wrapper.hfeed #main #container #content .entry-content .gform_wrapper .ginput_complex input, 
#wrapper.hfeed #main #container #content .entry-content .gform_wrapper .ginput_complex select, 
.entry-content .gform_wrapper input, 
#wrapper.hfeed #main #container #content .entry-content .gform_wrapper select {
    margin: 0 !important;
}

.ginput_left {
    float: left;
    width: 50%;
}